# For loop Samples

In [1]:
D = [1,3,5,7,9]
for i in D:
    print(D)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

In [2]:
D = [1,3,5,7,9]
for i in D:
    print(i)

1
3
5
7
9

In [3]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [4]:
for i in range(2,10,2):
    print(i)
#  First number ==> start
#  second number ==> stop
# third number ==> step ( this means the printed value will be increment by 2 example is shown below )

2
4
6
8

In [1]:
Sanjiv = "Divya"
for i in Sanjiv:
    print(i)

D
i
v
y
a

In [2]:
Sanjiv = "Divya"
for i in Sanjiv:
    print(Sanjiv)

Divya
Divya
Divya
Divya
Divya

# Display or analyzing transaction amount 
Sales = [1500,2500,3000,3500,4000]
for i in Sales:
    print(i)

In [41]:
number = int(input("Enter the number ==> "))
for i in range(5):
    number += 7
    print(number)

Enter the number ==>  10

17
24
31
38
45

In [45]:
# To calculate the nunning total

Salary = int(input("Enter the number ==> "))
Total = 0
for i in range(5):
    Total += Salary
    print(Total)

Enter the number ==>  100000

100000
200000
300000
400000
500000

In [51]:
# Paying and settling the loan

loan = int(input("Enter the value : "))
installment = 50000

for i in range(5):
    loan -= installment
    print(loan)

Enter the value :  250000

200000
150000
100000
50000
0

# Print numbers from 1 to 10.

In [57]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Print even numbers from 1 to 20.

In [68]:
for i in range(1,21):
    if i % 2 == 0 :
        print(i)
        i+=1
    # else:
        # print(i,end = " is odd \n")
        # Here else not required so kept in command

2
4
6
8
10
12
14
16
18
20

# Print odd numbers from 1 to 20.

In [3]:
for i in range(1,21):
    if i % 2 != 0:
        print(i)
        i+=1

1
3
5
7
9
11
13
15
17
19

# Print the 5 counts of 5 multiples

In [11]:
d = 0
for i in range(5):
    d+=5
    print(i)

5
10
15
20
25

# Find the sum of numbers from 1 to 50.

In [24]:
sum = 0
for i in range(51):
    sum = sum+i
print(sum)
# ******************#
# sum = 0
# for i in range(51):
#     sum = sum+i
#     print(sum)
# if we give the print inside the result will come in many lines. The above program will give the answer in the single line

1275

# Find the factorial of a given number.

In [47]:
number = int(input("enter the number : "))
factorial = 1
for i in range(1,number+1):
    factorial*=i    
print(factorial)

enter the number :  5

120

# Print each character in a string

In [51]:
a = "divya"
for i in a:
    print(i)

d
i
v
y
a

# Print the multiplication table for multiplication table of 2 to 12

In [65]:
j=[1,2,3,4,5,6,7,8,9,10,11,12]
for i in range(2,13):
    for a in j:
        print( i,"*",a,"=",i*a)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
6 * 12 = 72
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
8 * 12 = 96
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
9 * 12 = 108
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
11 * 11 = 121
11 * 12 = 132
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144